.container {
    position: relative;
    padding: 0;
}

.sum {
    position: absolute;
    top: 33%;
    right: 0;
    width: 100%;
    text-align: center;
    .number {
        font-size: 30px;
        font-weight: bold;
    }
    .label {
        margin-top: 10px;
        font-size: 15px;
    }
}
