nb-card {
  // this is temporary
  height: 350px;
  max-height: 350px;
}
nb-card-body {
  padding: 0;
}
.header-background {
  background-color: #eefbfe;
  padding: 0 20px;
}
.important-column {
  font-weight: bold;
}
