<nb-card>
  <nb-card-header>איזורי התפשטות</nb-card-header>
  <nb-card-body>
    <table [nbTreeGrid]="dataSource" nbSort (sort)="changeSort($event)" equalColumnsWidth style="max-height: 200px;">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container *ngFor="let column of allColumns" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell [nbSortHeader]="getDirection(column)" *nbTreeGridHeaderCellDef>
          {{columnsNameValueMap[column]}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
      </ng-container>

    </table>
  </nb-card-body>
</nb-card>
