<div class="heading row">
  <div class="col-9">
    <h6>סה"כ נבדקים</h6>
    <h5 class="total-amount">3324</h5>
    <p class="changes">
      <span class="amount">+103</span>
      <span>מאתמול</span>
      <span class="percentage">+2.5%</span>
    </p>
  </div>

  <div class="chart-container col-3" echarts [options]="chartOption"></div>
</div>

<div class="legend row">
  <div *ngFor="let item of data" class="legend col-4 d-flex flex-column">
    <span class="label">{{item.label}}</span>
    <strong>{{item.value}}</strong>
  </div>
</div>
