.heading > div {
  padding: 0;
}

.total-amount,
.changes {
  margin: 0;
}

.total-amount {
  line-height: 1.1;
}

.changes {
  font-size: 0.8em;

  & > span {
    padding: 0 2px;
  }

  & > .amount,
  & > .percentage {
    font-weight: bold;
  }

  & > .percentage {
    &.positive {
      color: var(--ngx-negative-color);
    }
    &.negative {
      color: var(--ngx-negative-color);
    }
  }
}

.chart-container {
  height: 60px;
  width: 60px;
}

.legend {
  margin-top: 6px;
  display: flex;
  max-width: 200px;
  justify-content: space-between;
}

.legend-item {
  display: flex;
  align-items: flex-start;
}

.legend-item-color {
  margin: 5px 3px;
  display: inline-block;
  padding: 3px;
  border-radius: 50%;
}

.legend-item-info {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.9em;
  }
}
