<ngx-small-statistics-info
  [title]="config.title"
  [totalAmount]="totalAmount"
  [changeType]="'negative'"
  [changeSign]="'plus'"
  [changeAmount]="config.changeAmount"
  [changePercantage]="config.changePercantage"
></ngx-small-statistics-info>

<div class="chart-container row" echarts [options]="chartOption"></div>

<button nbButton class="show-trend" ghost status="basic" size="small" [nbPopover]="showTrendPopoverComponent" nbPopoverPlacement="bottom">
  <nb-icon icon="bar-chart-2-outline"></nb-icon>
  <span>מגמת שינוי</span>
</button>
