<nb-card size="small">
  <nb-card-header>
    <div>פיזור חולים גיל מגדר</div>
    <div class="legend">
      <div class="legend-item">
        <span class="legend-circle" [style.background-color]="'#48caff'"></span>
        גברים
      </div>
      <div class="legend-item">
        <span class="legend-circle" [style.background-color]="'#b6ca51'"></span>
        נשים
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ngx-vertical-bar
      rightColor="#48caff"
      leftColor="#b6ca51"
      [data]="verticalTabData"
      xAxisLabel="מספר חולים"
    ></ngx-vertical-bar>
  </nb-card-body>
</nb-card>
